/*welcome*/
.layadmin-shortcut li .layui-icon {display: inline-block;width: 100%;height: 60px;line-height: 60px;text-align: center;border-radius: 2px;
font-size: 30px;background-color: #F8F8F8;color: #333;transition: all .3s;-webkit-transition: all .3s;}
.layadmin-shortcut li cite {position: relative;top: 2px;display: block;color: #666;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
font-size: 14px;text-align: center}
.layadmin-backlog .layadmin-backlog-body {display: block;padding: 10px 15px;background-color: #f8f8f8;color: #999;border-radius: 2px;transition: all .3s;-webkit-transition: all .3s;}
.layadmin-backlog-body h3 {padding-bottom: 10px;font-size: 12px;}
.layadmin-backlog-body p cite {font-style: normal;font-size: 30px;font-weight: 300;color: #009688;}
.layadmin-wait{padding-bottom: 1px;}
.layadmin-wait li{line-height: 29px;}

/*搜索框*/
.search-box{padding:10px 0;}
.search-box form{height:40px;margin-bottom: 0;}
.search-box form .btn-group{position: relative;top:-3px;}
.search-box form .layui-inline{margin-right: 0;}
a.layui-btn.prev{margin:12px 0;}
.search-box .layui-form-label{width: auto;}

/*表单*/
.form-box-dialog{padding:6px 0;}
.form-box-dialog .hint-block{position: relative;top:6px;}
.form-box-dialog .help-block{position: relative;top:6px;color: #f00;}
.layui-form-item .layui-input-inline.cal{position: relative;}
.layui-form-item .layui-input-inline.cal .cus{position: absolute;top:10px;right:10px;font-size: 18px;}